body {
    background-image: url("https://images.wallpaperscraft.com/image/landscape_mountains_sun_140434_3840x2400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
}


h1 {
    color:gold;
    padding-left: 3.5em;
    text-shadow: 2px 2px 4px #000000;
}

img {
    display: block;
    margin-left: 4em;
    margin-top:2em;
    margin-bottom:2em;
    border: 3px solid #000000;
}

#block1 {
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid blue;
    background-color:lightblue;
    margin-left:2em;
}

#block2 {
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid blue;
    background-color: lightblue;
    margin-left: 5em;
    position: absolute;
    top:50px;
    right:12.5em;
}

#block3 {
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid blue;
    background-color: lightblue;
    margin-left: 5em;
    position: absolute;
    top: 30em;
    right: 14em;
}

.vl {
    border-left: 2px solid white;
    height: 800px;
    position: absolute;
    left: 43%;
    margin-left: -3px;
    top: 0;
}